<div class="container">
  <form action="/">

  <div class="form-container">
    <label for="fname"></label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">

    <label for="lname"></label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name">

    <label for="email"></label>
    <input type="text" id="email" name="user_email" placeholder="Your e-mail address">

    <label for="subject"></label>
    <textarea id="subject" name="subject" placeholder="Write something" style="height:200px"></textarea>

    <input type="submit" value="Submit" style="border: 1px solid #611B59; color: white; background-color: #611B59">

  </form>
  </div>
</div>