<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>

  <title></title>
  
</head>
<body>

  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 class="main-heading">I am Rahul Suvarna</h1>
    <h1><span id="typed"></span></h1>
    <div class="main-button">
  </div>
</div>



<h1 class="about" id="about">About Me</h1>

<div class="row" style="padding: 14px;">
<div class="box1 col-12 col-md-12 col-lg-6" >
  <img class="about-image" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1569147775/Rahulcrop_bu7ncz.png">
</div>
  <div class="box2 col-12 col-md-12 col-lg-6 d-flex align-content-center">
<div class="d-flex align-content-center flex-wrap">
  <h3 class="about-text">A diverse individual with a background in sales, marketing, operations, 
  music production, process building and web development. <br> I currently reside in Bali and love helping those 
  who have an idea and bringing that to life. I have a deep understanding of technology and have previously 
  worked with tech companies and startups. Check out my work below</h3> 
</div>
</div>
</div>



<div class="projects-page" id="projects">
  <h1 class="project-title">Projects</h1>
  </div>

  <div class="row" style="padding: 14px;">
  <div class="fireevents hover col-12 col-md-12 col-lg-6" >
    <img class="fireevents-image" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1569224674/My%20portfolio/fireEvents_gvqf7s.png">
    <h4 class="fireevents-text"> <span class="fireevents-title">FireEvents</span> <br> <br> FireEvents is a location-based discovery platform that allows users to find hotspots within a city that will appeal to them. It uses APIs to pull event data in order to display the hottest places in a city that could be worth a visit.</h4>
    </div>
<div class="pool3r hover col-12 col-md-12 col-lg-6" >
  <img class="pool3r-image" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1569224668/My%20portfolio/Pool3r_fhj0me.png">
  <h4 class="pool3r-text"> <span class="pool3r-title">Poolr</span> <br> <br> A fun AirBnb clone / marketplace that lets you rent out your swimming pool for a day or for the weekend.</h4>
  </div>
</div>


<div>
  <h1 id="contact-me" > Contact Me </h1>
  
</div>


</body>
</html>
  