<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>

  <title></title>
</head>
<body>

  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 class="main-heading">I am Rahul Suvarna</h1>
    <h1><span id="typed"></span></h1>
    <div class="main-button">
    <button type="button" class="btn btn-light" id="home-search">Click for a different view</button>
  </div>
</div>



<h1 class="about" id="about">About Me</h1>

<div class="row" style="padding: 14px;">
<div class="box1 col-12 col-md-12 col-lg-6" >
  <img class="about-image" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1569147775/Rahulcrop_bu7ncz.png">
</div>
  <div class="box2 col-12 col-md-12 col-lg-6">
<h2 class="about-me-heading"></h2>
<h3 class="about-text">A diverse individual 
with background in sales, marketing, operations, music production, process builing. But over the years learning so much about business, 
i wanted to learn the technical aspect of the business and excel in that too. Well long story short, I went and learned full stack development and currently reside 
in Bali.     </h3> 
</div>
</div>



<div class="projects-page" id="projects">
  <h1>Projects</h1>
  <h2>Below are my projects</h2>
</div>
</body>
</html>
  