<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>

  <title></title>
</head>
<body>

  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 class="main-heading">I am Rahul Suvarna</h1>
    <h1><span id="typed"></span></h1>
    <div class="main-button">
    <button type="button" class="btn btn-light" id="home-search">Click for a different view</button>
  </div>
</div>



<div class="about-page">
<h1 class="about">About</h1>
<h2 class="about-text">A diverse individual 
with background in sales, marketing, operations, music production, process builing and
 full-stack web development.   </h2> 
</div>

<div class="projects-page" id="projects">
  <h1>Projects</h1>
  <h2>Below are my projects</h2>
</div>
</body>
</html>
