<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <title></title>
</head>
<body>
<p>
  Full-Stack Web Developer
  <span>
    R-Money
  </span>
</p>
<div class="main-button2">
    <button type="button" class="btn btn-primary" id="cool-search">Click for a different view</button>
  </div>
</body>
</html>
