<div class="home-content" style="display: block">
  <%= render "shared/firsthome" %>
</div>


<div class="loader" style="display: none">
  <%= render "shared/text" %>
</div>


<script>
  const search = document.querySelector("#home-search")
  const loader = document.querySelector(".loader")
  const content = document.querySelector(".home-content")
  search.addEventListener("click", () => {
    content.style.display = "none"
    loader.style.display = "block"
  })
</script>

<script>
  const search2 = document.querySelector("#cool-search")
  const loader2 = document.querySelector(".loader")
  const content2 = document.querySelector(".home-content")
  search2.addEventListener("click", () => {
    content2.style.display = "block"
    loader2.style.display = "none"
  })
</script>

