<div class="home-content" style="display: block">
  <%= render "shared/firsthome" %>
  
  </div>

  <%= render "shared/contact" %>


<div class="loader" style="display: none">
  <%= render "shared/text" %>
</div>





